@import '../../index.scss';

.category-page {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 60px auto;
    gap: 20px;
    width: 100%;
    min-height: calc(100vh - 166px - 115px - 61px);
    &__nav {
        display: flex;
        align-items: center;
        a {
            background: none;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid $bg-color;
            margin-right: 20px;
            &:hover {
                background-color: $bg-color;
            }
        }
    }

    &__plates {
        margin-bottom: 30px !important;

        input[type="checkbox"] {
            display: none;

            &:checked + .radio-btn {
                background-color: $bg-color;
            }
        }
        
    }
    &__filter {
        grid-row: 1 / 3;
        
        border-radius: 10px;
        padding: 10px;

        h5 {
            margin-bottom: 5px;
        }
        button {
            background-color: $main-color;
            color: #fff;
            font-weight: 600;
            &:hover {
                opacity: .6;
            }
        }

        input {
            margin: 0 5px;
        }

        form > div {
            margin-bottom: 10px;
        }

        ul {
            li {
                display: flex;
                align-items: center;
            }
        }

        .radio-btn {
            padding: 10px;
            border-radius: 10px;
            margin-right: 10px;
            cursor: pointer;
            transition: .5s;
            border: 1px solid $bg-color;
        }

        img {
            width: 35px;
        }

        &_price {
            display: flex;
            align-items: center;
            input {
                width: 80px;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid $bg-color;
            }
        }
        
    }

    &__sorting {
        display: flex;
        align-items: flex-end;
        select {
            border: 1px solid $bg-color;
            padding: 10px;
            border-radius: 10px;
            background: none;
            color: $main-color;
            &:focus {
                outline-color: $accent-color;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .category-page {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin: 5px 5px;
    }
}