@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$main-color: #020509;
$bg-color: #f2f4f6;
$accent-color: #ffce38;
$secondary-accent-color: #ff0038;
$third-accent-color: #00cffa;


body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $main-color;
}

header, main {
    display: grid;
    place-content: center;
}

header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    
    form {
        display: flex;
        align-items: center;
        input {
            width: 40vw;
            margin-right: 10px;
            padding: 15px;
            border-radius: 10px;
            border: 1px solid $bg-color;;
        }
    }
}

button {
    border-radius: 10px;
    border: none;
    padding: 10px;
    // background-color: $bg-color;
    &:hover {
        cursor: pointer;
    }
}

ul {
    list-style: none;
}

h2 {
    font-size: 30px;
    margin: 20px 0;
}


.hide {
    display: none;
}

.container {
    width: 80vw;
}

.header {
    &__logo {
        display: flex;
        align-items: center;
        img {
            width: 50px;
        }
        font-size: 35px;
        font-weight: 300;
        letter-spacing: 15px;
    }
    
    &__burger {
        span {
            display: block;
            margin: 4px;
            background-color: #fff;
            width: 25px;
            height: 2px;
            border-radius: 20px;
        }
    }
    
    &__category-btn {
        background-color: $accent-color;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-weight: 600;
        display: flex;
        justify-content: baseline;
        align-items: center;
    }
    
    &__profile, &__wish, &__shop-basket {
        font-weight: 600;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
        img {
            width: 25px;
        }
        &:hover {
            background-color: $bg-color;
            cursor: pointer;
        }
    }
    
}


.categories {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__card {
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        img {
            border-radius: 10px;
            width: 40px;
            // height: 80px;
            object-fit: contain;
        }
        p {
            // font-weight: 600;
        }
        &:hover {
            background-color: $bg-color;
            cursor: pointer;
        }
    }
}

.main {
    &__banner {
        background-image: url("img/bg.jpg");
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 10px;
        margin: 20px 0;
    }
}

.product-blocks {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.product-block {
    // background-color: $bg-color;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 315px;
    text-align: center;
    position: relative;
    border: 1px solid $bg-color;
    transition: .3s;
    &:hover {
        background-color: $bg-color;
        
        cursor: pointer;
    }

    p {
        text-align: left;
    }
    &__img {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }

    &__price {
        font-weight: 600;
        font-size: 20px;
        position: relative;
        color: $secondary-accent-color;
        &_discount {
            position: absolute;
            top: -20px;
            font-size: 15px;
            text-decoration: line-through;
            color: #21212186;
        }
        &_black, &_pale {
            // font-weight: 600;
            font-size: 20px;
        }
        &_pale, &_missing {
            opacity: .5;
        }
        &_missing {
            font-size: 10px;
            position: absolute;
            top: -20px;
            font-size: 15px;
        }
    }

    &__header {
        position: relative;
    }

    &__discount-plate {
        position: absolute;
        top: 0;
        padding: 5px;
        border-radius: 10px;
        background-color: $accent-color;
        color: #fff;
        font-weight: bold;
    }

    &__wish-plate {
        position: absolute;
        right: 0;
        top: 0;
        img {
            width: 30px;
        }
    }

    &__new-plate {
        background-color: $third-accent-color;
        position: absolute;
        top: 0;
        color: #fff;
        padding: 5px;
        border-radius: 10px;
        font-weight: bold;
    }

    &__bottom {
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 10px;
        width: 90%;
    }

    &__buy-btn {
        background-color: #fff;
        &:hover {
            img {
                filter: invert(1);
            }
            background-color: $accent-color;
        }
    }

}



footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: $bg-color;
    padding: 10px;
    margin-top: 20px;
    height: 200px;
}

.footer {
    >.container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
    }
    h5 {
        opacity: .5;
        margin: 10px 0;
    }

    &__socials {
        img {
            width: 25px;
            opacity: .5;
            margin: 10px;
        }
        a:hover {
            img {
                opacity: 1;
            }
        }
    }

    &__contacts {
        p {
            opacity: .8;
            font-weight: 600;
            padding: 5px 0;
        }
    }

    &__nav {
        li {
            opacity: .8;
            margin: 5px 0;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100vw;
        padding: 20px;
    }
}



/*PRODUCT PAGE*/

.product-page {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr 1fr;

    &__nav {
        button {
            display: flex;
            align-items: center;
            font-size: 20px;
            background-color: #fff;
            border: 1px solid $bg-color;
            margin: 20px 0;
        }
    }
    &__gallery {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        place-items: center;
        gap: 10px;
        &_small {
            border-radius: 10px;
            grid-column: 1 / 2;
            img {
                width: 150px;
                border-radius: 10px;
            }
        }

        &_big {
            border-radius: 10px;
            grid-column: 2 / 3;
            grid-row: 1 / 5;
            height: 100%;
            display: grid;
            place-items: center;
            position: relative;
            img {
                width: 100%;
                border-radius: 10px;
            }

            .discount-big, .new-big {
                position: absolute;
                left: 0;
                font-size: 25px;
                font-weight: 600;
                padding: 10px 20px;
                border-radius: 10px;
                color: #fff;
            }
            .discount-big {
                top: 0;
                background-color: $accent-color;
            }
            .new-big {
                top: 60px;
                background-color: $third-accent-color;
            }
        }

    }
    &__right-side {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    &__reviews {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
            opacity: .5;
        }
        >div {
            display: flex;
        }
        img {
            width: 30px;
        }
    }
    
    &__article {
        opacity: .8;
        margin: 20px 0;
    }

    &__buy-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        background-color: $secondary-accent-color;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        img {
            filter: invert(1);
        }
        &_fast {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            margin-bottom: 20px;
            
        }
    }

    &__price {
        &_crossed {
            text-decoration: line-through;
            opacity: .5;
            font-weight: 600;
        }

        &_new {
            color: $secondary-accent-color;
            font-weight: 600;
            font-size: 30px;
        }
    }

    &__delivery {
        border: 1px solid $bg-color;
        padding: 10px;
        border-radius: 10px;
        h4 {
            margin: 5px 0;
        }
    }

    &__wish {
        position: absolute;
        top: 0;
        right: 0;
        img {
            width: 40px;
        }
    }

    &__description {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        display: flex;
        justify-content: center;
        flex-direction: column;

        table {
            width: 100%;
        }
        ul {
            list-style: circle;
            padding-left: 20px;
        }

        th, td {
            background-color: $bg-color;
            border-radius: 10px;
            padding: 10px;
        }

        th {
            width: 30%;
        }

        td {
            width: 70%;
        }
    }

    &__promo {
        text-align: center;
        padding: 20px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        img {
            border-radius: 10px;
        }
    }
}


/* CATEGORY-PAGE */

.category-page {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 60px auto;
    gap: 20px;
    width: 100%;

    &__plates {
        margin-bottom: 30px;
    }
    &__filter {
        grid-row: 1 / 3;
        // background-color: $bg-color;
        // border: 1px solid $bg-color;
        
        border-radius: 10px;
        padding: 10px;

        h5 {
            margin-bottom: 5px;
        }
        button {
            background-color: $main-color;
            color: #fff;
            font-weight: 600;
            &:hover {
                opacity: .6;
            }
        }

        input {
            margin: 0 5px;
        }

        input[type="radio"] {
            display: none;

            &:checked + .radio-btn {
                background-color: $bg-color;
                // color: #fff;
            }
        }

        form > div {
            margin-bottom: 10px;
        }

        .radio-btn {
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: .5s;
            border: 1px solid $bg-color;
        }

        img {
            width: 35px;
        }

        &_price {
            display: flex;
            align-items: center;
            input {
                width: 80px;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid $bg-color;
            }
        }
        
    }

    &__sorting {
        display: flex;
        align-items: flex-end;
        select {
            border: 1px solid $bg-color;

            padding: 10px;
            border-radius: 10px;
        }
    }

    &__blocks {

    }
}
