@import '../../index.scss';

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: $bg-color;
    padding: 10px;
    margin-top: 50px;
    // min-height: 200px;
    flex-wrap: wrap;
}

.footer {
    >.container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        h5 {
            opacity: .5;
        }
    }

    &__socials {
        img {
            width: 35px;
            opacity: .5;
            margin: 0 20px;
        }
        a:hover {
            img {
                opacity: 1;
            }
        }
    }

    &__contacts {
        p {
            font-weight: 900;
            color: $third-accent-color;
            padding: 5px 0;
            font-size: 25px;
            // opacity: .4;
        }
    }
}

@media screen and (max-width: 1024px) {
    footer {
        padding-bottom: 70px;
    }

    .footer {
        >.container {
            flex-direction: column;
            justify-content: center;
            h5 {
                margin-top: 20px;
            }
        }
    }
}